extends layout

block content
  h1 Welcome
  p Documentation and Code can be found at https://github.com/tobias-mb/web-interfaces-exercise
  p routes are
  p POST /login (login user - {username, password} in auth)
  p POST /users (register new user - {username, password, email} in body)
  p GET /users/validation/newUser/:username/:validationKey (email verification - get the link from email)
  p POST /users/restore (password reset - {email} in body)
  p GET /users/validation/restorePw/:username/:validationKey (confirm password reset - get the link from email)
  p GET /users/email?username=name (get email address of user {name})
  p PUT /users/changeEmail (change email address - {username, password} in auth, {email} in body)
  p PUT /users/changePassword (change password - {username, password} in auth, {password} in body)
  p POST /products (create new posting - {username, password} in auth, {title, description, category, location, images(array of strings), price, delivery} in body)
  p PUT /products/:id (change a posting - {username, password} in auth, any changed information in body)
  p DELETE /products/:id (delete a posting - {username, password} in auth)
  p GET /products?param=something (get postings. query param(s) can be id, title, description, category, location, price, posting_date, delivery, seller (seller currently only by id). Search for price is a max price.)

